<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/main.css">
	</head>
	<body>
	<div>
	{{#users}}
		<img src="{{avatar}}" alt="">
		<a href="/{{username}}">
		{{name}}</a>
		<p>{{job}}</p>
		<p>{{company}}</p>
	{{/users}}
	</div>
	</body>
</html>
